html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 60px auto;
    background-color:#FAFAFA;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8B8B8B;
}

.icon{
    height:40px;
    width:40px;
}

.center{
    margin:0 auto;
}


h1{
    padding: 0 20px;
    margin: 40px 0px;
    text-align:center;
}

h1::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color:#407BFF;
    margin:10px auto 0 auto;
}


h2{
    text-align:center;
    padding: 0 20px;
    margin: 60px 0 15px 0;
    font-size: 16px;
}


.main-text{
    padding: 0 20px 30px 20px;
    margin: 0;
    text-align:center;
}

.title-img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}



.button{
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 30px;
    border: 0;
    margin-bottom: 10px;
}

.adventure{
    margin-top: 10px;
    background-color: #407BFF;
}

.beach{
    background-color:#8B8B8B;

}


.box{
    display:flex;
    justify-content:center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    margin: 0 20px 15px 20px ;
    padding:30px 20px 20px 20px;

}

.box img{
    margin: 0 25px 0 20px;
}

.box p{
    text-align: left;
    padding-right: 20px;
    font-size:13px;
}

@media screen and (min-width: 640px){

    h1{
        padding: 0;
        margin: 30px 0px 40px 0px;
    }

    .title p{
        padding:  0 110px 30px 110px;
    }

    .navigation{
        display:flex;
        justify-content:center;

    }
    
    .nav-button{
        flex: 0 0 calc((100% - 20px)/2);
    }

    .beach,
    .adventure{
        margin-top: 10px;
        margin-left: 20px;
        margin:0;

    }

    .adventure{
        margin-right: 20px;
    }


    h2{
        margin-top: 80px;
    }

    .main-text{
        padding: 0 110px 40px 110px;
    }


    .button{
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .beach{
        margin-left: 0;
    }

    .boxes{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 0 20px;
    }

    .box{
        padding:40px 15px 20px 15px;
        margin:0;
        flex: 0 0 calc((100% - 40px)/3);
        display:flex;
        flex-direction:column;
    }

    .box img{
        flex: 0 0 50%;
        margin: 0 auto;
    }

    .box p {
        flex: 0 0 50%;
        margin:0;
        padding: 20px 0 0 0;
        text-align: center;
    }

}


@media screen and (min-width:1100px) {
    .body{
        max-width: 1040px;

    }

    section{
        margin: 80px 80px 0 80px;
    }

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pct{
        max-width: 425px;
        flex: 0 0 50%;
        
    }
    
    .pct img{
        width: 100%;
    }

    .block{
        flex: 0 0 50%;
        order: -1; 
        margin-right:60px;  
    }

    h1,
    h2{
        text-align:left;
        padding: 0;
        margin: 0;
    }

    h1{
        margin-bottom: 40px;
    }

    h1::after{
        margin-left:0;
    }

    h2{
        margin-bottom: 20px
    }

    .title p{
        padding: 0;
        padding-bottom: 30px;
    }

    .main-text{
        text-align:left;
        padding: 0;
    }

    .navigation{
        justify-content:flex-start;
    }

    .adventure{
        margin-left: 0;
    }


    .servis-agency,
    .servis-delegates{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .servis-text{
        flex: 0 0 calc((100% - 60px)/2);
    }

    .boxes{
        flex: 0 0 calc((100% - 60px)/2);
        padding:0;
    }

    .agency{
        order: -1;
    }

    .box p{
        padding: 0;
        margin: 20px 15px 40px 15px;
    }

}